[Unit]
Description=FRP Server
After=network.target network-online.target
Wants=network.target network-online.target

[Service]
ExecStart=-/usr/local/bin/frps -c /etc/frps/%i.ini
ExecReload=/usr/local/bin/frps reload -c /etc/frps/%i.ini
Restart=always
RestartSec=20s

AmbientCapabilities=CAP_NET_BIND_SERVICE
DynamicUser=true
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
