Welcome to ${site_name}, ${username},

You will now be able to login to your account at ${username}@${hostname}
using the SSH key you provided.

your password is "${password}". please change it when you log in for
the first time by running the passwd command. the password is used for 
any services that require a password, but not your shell login.

your ~/public_html directory is served at ${site_url}/~${username}/

If you have any questions or problems, mail '${site_contact}' and we'll get
back to you as soon as we can.

Enjoy!

${mail_sig}
